<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzy AHP</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-centered {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            background-color: #343a40;
            padding-top: 1rem;
        }

        .sidebar .nav-link {
            color: #ffffff;
        }

        .sidebar .nav-link.active {
            background-color: #007bff;
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Beranda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/kriteria">Kriteria dan Subkriteria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/process">Proses AHP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/result_history">Hasil Proses AHP</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Sistem Prioritas Penanganan Kerusakan Jalan</h1>
                </div>

                <h1 style="text-align: center; margin-top: 30px;">Pilih Kriteria dan Subkriteria</h1>

                <div style="display: flex;" class="container">
                    <div>
                        <label style="width:120px;">Pilih Preset</label>
                        <select style="width: 70px;" id="preset-list" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="card p-2 rounded shadow" id="preset_information">
                    </div>

                </div>
                <div class="container my-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Permukaan Perkerasan</h4>
                        </div>
                        <div class="card-body">
                            <p>Permukaan Perkerasan adalah lapisan struktur jalan yang terletak pada bagian atas yang
                                secara langsung bersentuhan dengan ban kendaraan. Berdasarkan lapisannya yang terletak
                                di bagian atas, Kriteria ini mempunyai 4 subkriteria, di antaranya :</p>
                            <ul>
                                <li><strong>Susunan</strong>, yang merupakan lapisan material yang membentuk struktur
                                    perkerasan jalan</li>
                                <li><strong>Kondisi</strong>, merupakan keadaan atau status struktur perkerasan jalan
                                    yang diukur dengan melihat tingkat keausan dari struktur jalan.</li>
                                <li><strong>Penurunan</strong>, kondisi dimana terjadinya perubahan elevasi atau
                                    ketinggian permukaan jalan dari posisi aslinya</li>
                                <li><strong>Tambalan</strong>, merupakan penambahan material pada permukaan perkerasan
                                    yang dilakukan untuk mencegah ukuran kerusakan permukaan jalan menjadi semakin
                                    besar, dalam artian melakukan perbaikan jalan secara sementara.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Retak-Retak</h4>
                        </div>
                        <div class="card-body">
                            <p>Retak -Retak merupakan kriteria yang ditandai dengan adanya pecahan yang menimbulkan
                                adanya celah pada permukaan jalan. Kriteria Retak-Retak mempunyai 3 subkriteria yang
                                terdiri dari :</p>
                            <ul>
                                <li><strong>Jenis</strong>, merupakan variasi retakan yang muncul dan dapat dilihat dari
                                    pola atau bentuk dari persebaran retakan</li>
                                <li><strong>Lebar</strong>, merupakan dimensi horizontal yang ukurannya ditentukan oleh
                                    jenis serta faktor penyebab kerusakan</li>
                                <li><strong>Persen luas</strong>, merupakan ukuran yang digunakan untuk menggambarkan
                                    seberapa besar retakan yang terjadi pada permukaan jalan.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Kerusakan Lain</h4>
                        </div>
                        <div class="card-body">
                            <p>Kerusakan Lain adalah kriteria yang mencakup permasalahan kecacatan jalan selain
                                keretakan. Kriteria Kerusakan Lain mempunyai 4 subkriteria, yaitu :</p>
                            <ul>
                                <li><strong>Jumlah Lubang</strong>, merupakan indikator yang digunakan dalam mengukur
                                    tingkat kerusakan jalan, sehingga dapat dilakukan perawatan maupun perbaikan.</li>
                                <li><strong>Ukuran Lubang</strong>, merupakan indikator yang digunakan untuk melihat
                                    dimensi dari lubang yang terdapat pada permukaan jalan.</li>
                                <li><strong>Bekas Roda</strong>, merupakan jejak atau tanda dari roda kendaraan yang
                                    melintas di permukaan jalan</li>
                                <li><strong>Kerusakan Tepi</strong>, merupakan kerusakan yang terjadi pada area tepi
                                    atau pinggir jalan</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Infrastruktur Lain</h4>
                        </div>
                        <div class="card-body">
                            <p>Infrastruktur Lain merupakan fasilitas lain yang mendukung segala aktivitas masyarakat di
                                bidang jalan, yang meliputi bahu jalan, saluran samping, lereng, maupun trotoar.
                                Kriteria ini mempunyai 5 subkriteria, diantaranya :</p>
                            <ul>
                                <li><strong>Kondisi Bahu</strong>, merupakan keadaan fisik dari bahu jalan yang biasanya
                                    digunakan oleh pejalan kaki untuk melintas maupun memarkirkan kendaraan.</li>
                                <li><strong>Permukaan Bahu</strong>, merupakan posisi atau letak dari bahu jalan
                                    terhadap jalan utama</li>
                                <li><strong>Kondisi Saluran Samping</strong>, merupakan keadaan dari saluran yang
                                    terletak di sisi jalan atau yang disebut dengan parit</li>
                                <li><strong>Kerusakan Lereng</strong>, merupakan suatu kondisi dimana terjadinya
                                    perubahan bentuk pada lereng dan mengganggu fungsi infrastruktur jalan.</li>
                                <li><strong>Trotoar</strong>, merupakan fasilitas umum yang disediakan untuk masyarakat
                                    sebagai jalur aman yang terletak di sisi samping jalan.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Anggaran</h4>
                        </div>
                        <div class="card-body">
                            <p>Anggaran adalah pendapatan dan pengeluaran yang direncanakan secara rinci untuk
                                mengestimasi berapa banyak pemakaian keuangan dari keuangan yang tersedia.</p>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Volume Kendaraan</h4>
                        </div>
                        <div class="card-body">
                            <p>Volume Kendaraan adalah banyaknya kendaraan yang melintasi suatu titik atau garis dalam
                                suatu periode tertentu.</p>
                        </div>
                    </div>
                </div>



                <div class="container">
                    <div class="row card-centered">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Pilih Data
                                </div>
                                <div class="card-body">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Kriteria</th>
                                                <th scope="col">Sub Kriteria</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- PERMUKAAN PERKERASAAN -->
                                            <tr>
                                                <td>
                                                    <div class="form-check mx-1">
                                                        <input id="permukaan_perkerasan" class="form-check-input"
                                                            type="checkbox" value="" id="flexCheckDefault1">
                                                        <p class="form-check-p" for="flexCheckDefault1">
                                                            Permukaan
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-row">
                                                        <div class="form-check">
                                                            <input id="susunan" class="form-check-input" type="checkbox"
                                                                value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Susunan
                                                            </p>
                                                        </div>

                                                        <div class="form-check mx-1">
                                                            <input id="kondisi_keadaan" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Kondisi Keadaan
                                                            </p>
                                                        </div>
                                                        <div class="form-check mx-1">
                                                            <input id="penurunan" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Penurunan
                                                            </p>
                                                        </div>
                                                        <div class="form-check mx-1">
                                                            <input id="tambalan" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Tambalan
                                                            </p>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>

                                            <!-- RETAK RETAK-->
                                            <tr>
                                                <td>
                                                    <div class="form-check mx-1">
                                                        <input id="retak_retak" class="form-check-input" type="checkbox"
                                                            value="" id="flexCheckDefault1">
                                                        <p class="form-check-p" for="flexCheckDefault1">
                                                            Retak-Retak
                                                        </p>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="d-flex flex-row">


                                                        <div class="form-check ">
                                                            <input id="jenis" class="form-check-input" type="checkbox"
                                                                value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Jenis
                                                            </p>
                                                        </div>

                                                        <div class="form-check mx-1">
                                                            <input id="lebar" class="form-check-input" type="checkbox"
                                                                value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Lebar
                                                            </p>
                                                        </div>
                                                        <div class="form-check mx-1">
                                                            <input id="persen_luas" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Persen Luas
                                                            </p>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>

                                            <!-- Kerusakan Lain-->
                                            <tr>
                                                <td>
                                                    <div class="form-check mx-1">
                                                        <input id="kerusakan_lain" class="form-check-input"
                                                            type="checkbox" value="" id="flexCheckDefault1">
                                                        <p class="form-check-p" for="flexCheckDefault1">
                                                            Kerusakan Lain
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-row">
                                                        <div class="form-check ">
                                                            <input id="jumlah_lubang" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Jumlah Lubang
                                                            </p>
                                                        </div>
                                                        <div class="form-check mx-1">
                                                            <input id="ukuran_lubang" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Ukuran Lubang
                                                            </p>
                                                        </div>
                                                        <div class="form-check mx-1">
                                                            <input id="bekas_roda" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Bekas Roda
                                                            </p>
                                                        </div>
                                                        <div class="form-check mx-1">
                                                            <input id="kerusakan_tepi" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Kerusakan Tepi
                                                            </p>
                                                        </div>
                                                    </div>


                                                </td>

                                            </tr>

                                            <!-- Infrastruktur Lain-->
                                            <tr>
                                                <td>
                                                    <div class="form-check mx-1">
                                                        <input id="infrastruktur_lain" class="form-check-input"
                                                            type="checkbox" value="" id="flexCheckDefault1">
                                                        <p class="form-check-p" for="flexCheckDefault1">
                                                            Infrastruktur Lain
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>

                                                    <div class="d-flex flex-row">
                                                        <div class="form-check ">
                                                            <input id="kondisi_bahu" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Kondisi Bahu
                                                            </p>
                                                        </div>

                                                        <div class="form-check mx-1">
                                                            <input id="permukaan_bahu" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Permukaan Bahu
                                                            </p>
                                                        </div>

                                                        <div class="form-check mx-1">
                                                            <input id="kondisi_saluran_samping" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Kondisi Saluran Samping
                                                            </p>
                                                        </div>
                                                        <div class="form-check mx-1">
                                                            <input id="kerusakan_lereng" class="form-check-input"
                                                                type="checkbox" value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Kerusakan Lereng
                                                            </p>
                                                        </div>
                                                        <div class="form-check mx-1">
                                                            <input id="trotoar" class="form-check-input" type="checkbox"
                                                                value="" id="flexCheckDefault2">
                                                            <p class="form-check-p" for="flexCheckDefault2">
                                                                Trotoar
                                                            </p>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>

                                            <!-- ANGGARAN -->
                                            <tr>
                                                <td>
                                                    <div class="form-check mx-1">
                                                        <input id="anggaran" class="form-check-input" type="checkbox"
                                                            value="" id="flexCheckDefault1">
                                                        <p class="form-check-p" for="flexCheckDefault1">
                                                            Anggaran
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>

                                            <!-- VOLUME KENDARAAN -->
                                            <tr>
                                                <td>
                                                    <div class="form-check mx-1">
                                                        <input id="volume_kendaraan" class="form-check-input"
                                                            type="checkbox" value="" id="flexCheckDefault1">
                                                        <p class="form-check-p" for="flexCheckDefault1">
                                                            Volume Kendaraan
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                        <tbody>

                                    </table>

                                </div>
                                <button onclick="process_request()" class="btn btn-primary m-4">Selanjutnya</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

<script>

    const isValidSession = sessionStorage.getItem("credentials");
    if(!isValidSession){
        window.location.href = "/login"
    }
        

    const data_allowed = {
        permukaan_perkerasan: [
            "susunan", "kondisi_keadaan", "penurunan", "tambalan"
        ],
        retak_retak: [
            "jenis", "lebar", "persen_luas"
        ],
        kerusakan_lain: [
            "jumlah_lubang", "ukuran_lubang", "bekas_roda", "kerusakan_tepi"
        ],
        infrastruktur_lain: [
            "kondisi_bahu", "kondisi_saluran_samping", "kerusakan_lereng", "trotoar"
        ]
    }

    // calling all element from html docs
    // ** KRITERIA **
    const permukaan_perkerasan = document.getElementById("permukaan_perkerasan")
    const retak_retak = document.getElementById("retak_retak")
    const kerusakan_lain = document.getElementById("kerusakan_lain")
    const infrastruktur_lain = document.getElementById("infrastruktur_lain")
    const anggaran = document.getElementById("anggaran")
    const volume_kendaraan = document.getElementById("volume_kendaraan")

    // ** SUB KRITERIA
    const susunan = document.getElementById("susunan")
    const kondisi_keadaan = document.getElementById("kondisi_keadaan")
    const penurunan = document.getElementById("penurunan")
    const tambalan = document.getElementById("tambalan")

    const jenis = document.getElementById("jenis")
    const lebar = document.getElementById("lebar")
    const persen_luas = document.getElementById("persen_luas")

    const jumlah_lubang = document.getElementById("jumlah_lubang")
    const ukuran_lubang = document.getElementById("ukuran_lubang")
    const bekas_roda = document.getElementById("bekas_roda")
    const kerusakan_tepi = document.getElementById("kerusakan_tepi")

    const kondisi_bahu = document.getElementById("kondisi_bahu")
    const permukaan_bahu = document.getElementById("permukaan_bahu")
    const kondisi_saluran_samping = document.getElementById("kondisi_saluran_samping")
    const kerusakan_lereng = document.getElementById("kerusakan_lereng")
    const trotoar = document.getElementById("trotoar")


    function process_request() {
        // **VALIDATE THE INPUT (FOR SUBKRITERIA)**\
        if (permukaan_perkerasan.checked) {
            if (!susunan.checked && !kondisi_keadaan.checked && !penurunan.checked && !tambalan.checked) {
                alert("INPUT TIDAK VALID! Silahkan memilih subkriteria dari pernukaan perkerasaan");
                return;
            }
        }
        if (retak_retak.checked) {
            if (!jenis.checked && !lebar.checked && !persen_luas.checked) {
                alert("INPUT TIDAK VALID! Silahkan memilih subkriteria dari retak retak");
                return;
            }
        }
        if (kerusakan_lain.checked) {
            if (!jumlah_lubang.checked && !ukuran_lubang.checked && !bekas_roda.checked && !kerusakan_tepi.checked) {
                alert("INPUT TIDAK VALID! Silahkan memilih kriteria dari Subkriteria yang dipilih");
                return;
            }
        }
        if (infrastruktur_lain.checked) {
            if (!kondisi_bahu.checked && !permukaan_bahu.checked && !kondisi_saluran_samping.checked && !kerusakan_lereng.checked && !trotoar.checked) {
                alert("INPUT TIDAK VALID!  Silahkan memilih kriteria dari Subkriteria yang dipilih");
                return;
            }
        }

        // ** VALIDATE THE INPUT (FOR KRITERIA) **\
        if (susunan.checked || kondisi_keadaan.checked || penurunan.checked || tambalan.checked) {
            if (!permukaan_perkerasan.checked) {
                alert("INPUT TIDAK VALID! S Silahkan memilih kriteria dari Subkriteria yang dipilih");
                return;
            }
        }
        if (jenis.checked || lebar.checked || persen_luas.checked) {
            if (!retak_retak.checked) {
                alert("INPUT TIDAK VALID!  Silahkan memilih kriteria dari Subkriteria yang dipilih");
                return;
            }
        }
        if (jumlah_lubang.checked || ukuran_lubang.checked || bekas_roda.checked || kerusakan_tepi.checked) {
            if (!kerusakan_lain.checked) {
                alert("INPUT TIDAK VALID!  Silahkan memilih kriteria dari Subkriteria yang dipilih");
                return;
            }
        }
        if (kondisi_bahu.checked || permukaan_bahu.checked || kondisi_saluran_samping.checked || kerusakan_lereng.checked || trotoar.checked) {
            if (!infrastruktur_lain.checked) {
                alert("INPUT TIDAK VALID! Silahkan memilih kriteria dari Subkriteria yang dipilih");
                return;
            }
        }


        const body = {
            ...(permukaan_perkerasan.checked ? {
                'permukaan_perkerasan': {
                    'susunan': susunan.checked,
                    'kondisi_keadaan': kondisi_keadaan.checked,
                    'penurunan': penurunan.checked,
                    'tambalan': tambalan.checked
                }
            } : {}),

            ...(retak_retak.checked ? {
                'retak_retak': {
                    'jenis': jenis.checked,
                    'lebar': lebar.checked,
                    'persen_luas': persen_luas.checked
                }
            } : {}),

            ...(kerusakan_lain.checked ? {
                'kerusakan_lain': {
                    'jumlah_lubang': jumlah_lubang.checked,
                    'ukuran_lubang': ukuran_lubang.checked,
                    'bekas_roda': bekas_roda.checked,
                    'kerusakan_tepi': kerusakan_tepi.checked
                }
            } : {}),

            ...(infrastruktur_lain.checked ? {
                'infrastruktur_lain': {
                    'kondisi_bahu': kondisi_bahu.checked,
                    'permukaan_bahu': permukaan_bahu.checked,
                    'kondisi_saluran_samping': kondisi_saluran_samping.checked,
                    'kerusakan_lereng': kerusakan_lereng.checked,
                    'trotoar': trotoar.checked
                }
            } : {}),

            ...(anggaran.checked ? {
                'anggaran': {
                    "anggaran": true
                }
            } : {}),

            ...(volume_kendaraan.checked ? {
                'volume_kendaraan': {
                    "volume_kendaraan": true
                }
            } : {})
        };

        sessionStorage.setItem('body', JSON.stringify(body))

        localStorage.setItem('preset', document.getElementById('preset-list').value);

        window.location.href = '/process'

    }


    // ! HARDCODE DATA FOR PRESET
    const presetList = [
        {
            1: [
                'Anggaran',
                'Permukaan Perkerasan',
                'Volume Kendaraan',
                'Kerusakan Lain',
                'Infrastruktur Lain',
                'Retak Retak'
            ]
        },
        {
            2: [
                'Permukaan Perkerasan',
                'Volume Kendaraan',
                'Kerusakan Lain',
                'Infrastruktur Lain',
                'Retak Retak',
                'Anggaran'
            ]
        },
        {
            3: [
                'Volume Kendaraan',
                'Kerusakan Lain',
                'Infrastruktur Lain',
                'Retak Retak',
                'Anggaran',
                'Permukaan Perkerasan'
            ]
        },
        {
            4: [
                'Kerusakan Lain',
                'Infrastruktur Lain',
                'Retak Retak',
                'Anggaran',
                'Permukaan Perkerasan',
                'Volume Kendaraan'
            ]
        },
        {
            5: [
                'Infrastruktur Lain',
                'Retak Retak',
                'Anggaran',
                'Permukaan Perkerasan',
                'Volume Kendaraan',
                'Kerusakan Lain'
            ]
        },
        {
            6: [
                'Retak Retak',
                'Anggaran',
                'Permukaan Perkerasan',
                'Volume Kendaraan',
                'Kerusakan Lain',
                'Infrastruktur Lain'
            ]
        }
    ]

    function init_select_preset() {
        const preset_information_dom = document.getElementById('preset_information')
        presetList[0][1].forEach((item, idx) => {
            const pElement = document.createElement('p');
            pElement.innerHTML = `Ranking: ${idx + 1} - ${item}`
            preset_information_dom.appendChild(pElement)
        })
    }

    init_select_preset()

    // THIS IS USED FOR LISTEN TO PRESET INPUT CHANGE
    document.addEventListener('DOMContentLoaded', function () {
        // Get the <select> element by its id
        const selectElement = document.getElementById('preset-list');

        const preset_information_dom = document.getElementById('preset_information')

        // Add event listener for 'change' event
        selectElement.addEventListener('change', function () {
            preset_information_dom.innerHTML = ""
            const selectedValue = selectElement.value;
            presetList[selectedValue - 1][selectedValue].forEach((item, idx) => {
                const pElement = document.createElement('p');
                pElement.innerHTML = `Ranking: ${idx + 1} - ${item}`
                preset_information_dom.appendChild(pElement)
            })
        });
    });


</script>

</html>